html, body{
  font-size: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	background:#ffffff;
   height: 2000px;
}
.website-bg-color{
   background-color: #F37615 !important;
}

/*-- start header --*/
.header {
  padding: 1em 0;
  	border-top: 3px solid #FF8D1B;
   -webkit-box-shadow: 0px 6px 12px -5px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 6px 12px -5px rgba(0,0,0,0.75);
   box-shadow: 0px 6px 12px -5px rgba(0,0,0,0.75);
}
.Logo {
  max-height: 90px;
}
.Logo a {
  display: block;
}
.search{
   width: 80%;
}
.search input[type="text"]{
	outline: none;
  border: none;
  background:#eef0f1;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #eee;
  min-width: 78%;
  float: right;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.search input[type="submit"]{
	outline: none;
    border: none;
    background: #212121;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    width: 22%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.search input[type="submit"]:hover{
	background:#3F4449 !important;
   transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
}
/*-- end header --*/
/*-- start category--*/
.category-item  {
   font-size: 13px;
   padding: 4px;
}
.category {
   
   border-right: 1px #ddd solid;
   background:#eef0f1;
}
.category-item a{
   color: #F37615 ;
}
.category-item a:hover {
   background-color: #F37615;
   color:white;  
   -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.address {
   border-right: 4px #F37615 solid;
   background-color: #EEF0F1;
   color: #F37615;
   font-size: 20px;
   font-weight: bolder;
}
.contact_us :hover{
   background:#3F4449 !important;
   transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-i
}
@media (max-width: 700px) {
   .address {
      font-size: 15px;
   }
}
/*-- end category --*/
/*-- start social-media --*/
.social_media {
  position: fixed;
  bottom: 0%;
  left: 265px;
  width: 4%;
  z-index: 9999;
}
.social_media ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}
.social_media ul li {
  display: block;
  margin: 5px;
  width: 310px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.twitter_link{
	background:#1da1f2;
}
.facebook_link{
	background:#3b5998;
}
.instagram_link{
	background:#FF8D1B;
}
.youtube_link{
	background:#dd4b39;
}
.twitter_link:hover{
	background:#54BAF2;
}
.facebook_link:hover{
	background:#6187D5;
}
.instagram_link:hover{
	background:#d8870d;
}
.youtube_link:hover{
	background:#EA6A5B;
}
.social_media ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
}
.social_media ul li a{
	color:#212121;
}
.social_media ul li:hover a {
  color: #fff;
  text-decoration: none;
}
.social_media ul li:hover i {
  color: #fff;
  background: rgba(0, 0, 0, 0.36);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social_media ul li i {
	margin-left: 10px;
   color: #212121;
   padding: 10px;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
   width: 35px;
   height: 35px;
   font-size: 15px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
	text-align: center;
	background: #fff;
}
/*-- end social media --*/
/*-- start movie --*/
.new_movies{
box-shadow:0px 0px 1px #999;

}
.movie-name{
   font-weight: bolder;
   cursor: pointer;
}

.movie-card img{
   max-height: 260px;
}

.movie-card{
   background-color: #fff;
}

.movie-poster{
   width: 100%;
   cursor: pointer;
}

/*-- end new_movie --*/
/*-- start movie--*/
.movies {
padding:2em 1em;
box-shadow:0px 0px 1px #999;
}
.ribben {
    position: absolute;
    top: 3%;
    left: 4%;
    padding: 20px 0 0 0;
    background-color: website-bg-color;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
}
.ribben p {
    font-size: 0.9em;
    color: #fff;
    line-height: 0;
    text-align: center;
}
ul li a {
    color :#212121;
}
.nav > li > a {
    position: relative;
    display: block;
   
}
.nav-tabs > li > a {
    background: #eef0f1;
    font-size: 16px;
    transition: all 0.3s ease-in-out 0s;
    margin-right: 3px;
    margin-bottom: 5px;
    margin-top: 0;
    
}
.nav-tabs > li.active > a {
    background-color: #F37615 ;
    border: none;
    border-radius: 0;
    color: #fff!important;
     text-decoration: none;
     cursor: none;
}
.nav-tabs > li > a:hover{
   background-color: #F37615;
    border: none;
    border-radius: 0;
    color: #212121;
     text-decoration: none;
     cursor: pointer;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
/*-- end movie--*/
/*-- Start contact us --*/
.contact {
   padding: 30px 0;
   background-color :#F37615;
   color: #fff;
   font-size: 15px;
}
.contact p {
 margin :0;
}
.contact a {
color: #fff;
border: 2px solid #fff;
padding: 6px 10px;
font-weight: bold;
text-decoration:none;
}
/*-- end contact us--*/
 /*-- start footer*/
 .films > ul > li> a {
    text-decoration: none;
 }
 /*-- end footer--*/


 


